<a href="https://colab.research.google.com/github/cocolleen/progstud/blob/main/PythonBeginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Drawing Shape

In [ ]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

##Variables and String

In [ ]:
character_name = "Diluc"
character_age = "23"

print("There once was a man name "+ character_name + ",")
print("he was " + character_age + " years old." )
print("He really liked the named " + character_name)
print("but didn't like being " + character_age + ".")

There once was a man name Diluc,
he was 23 years old.
He really liked the named Diluc
but didn't like being 23.

##String

In [ ]:
print("Zoolandia")
print("Zoo\nlandia")
print("Zoo\"landia\" ")

Zoolandia
Zoo
landia
Zoo"landia"

In [ ]:
phrase = "Egg and Bread"    #note that this phrase word is interchangeable. any word ccn be used as long as it is mentioned in the print area.
print(phrase.lower())
print(phrase.islower())

egg and bread
False

In [ ]:


phrase = "banana"
print(phrase.upper())
print(phrase.isupper())

print('\n')

phrase = "python"
print(phrase.upper().isupper())

print('\n')

egg = "solve"
print(len(egg))

print('\n')

phrase = "Coffee"
print(phrase[2]) #in string its starts with 0. eg. Coffee, C is 0 and so on.

print('\n')

BANANA
False


True


5


f

In [ ]:
phrase = "Milk and Coffee"
print(phrase.index("l"))
print(phrase.index("Coffee"))

print('\n')

phrase = "Milk and Coffee"
print([phrase.replace("Milk", "Frappauchino")])

2
9


['Frappauchino and Coffee']

##Working with Numbers

In [ ]:
print(2)
print(2.3)
print(-1.616)
print (3 + 4.3) #any operation can be used (+, -, *, /)
print(2 * 1 - 3)
print(2 * (1 - 3))
print (10 % 3) # % is used to find the remainder

2
2.3
-1.616
7.3
-1
-4
1

In [ ]:
x = 4
print (x)

4

In [ ]:
x = 17 #to print out no. next to a string, the no, must first be set to as string.
print(str(x) + " is my favorite number")

c = -8 #abs is used to find the absolute value
print(abs(c))

17 is my favorite number
8

In [ ]:
print(pow(3, 4)) #3 is raised to power the 4
print(max(4,6)) #max is used to return/identify the bigger number
print(min(5, 3, 1)) #min is used to return/identify the smallest number
print(round(3.2)) #round is used to round off a no.

81
6
1
3

##From math import

In [ ]:
from math import *
s = 67
print(floor(3.4)) #floor will chop off the decimal point
print(ceil(2.894)) #ceil will round the no. up
print(sqrt(36))

3
3
6.0

##Getting Input from the Users

In [ ]:
c = input("Enter your name: ")
d = input ("Enter Age: ")
print ("hi " + c + "!")
print("You are" + d + " years old.")

Enter your name: ji
Enter Age: 9
hi ji!
I am 9 years old.

##Building a Basic Calculator

In [ ]:
num1 = input("enter a no.:")
num2 = input("enter another no.:")
result = float(num1) + int(num2) #float is used when the no. has decimal and int is for without
print(result)

enter a no.:9
enter another no.:2
11.0

##Mad Libs Game

In [ ]:
color = input("enter a color: ")
pluralnoun = input("enter a noun: ")
name = input("enter a name: ")

print("Roses are " + color)
print(pluralnoun + " are blue")
print("I love " + name)

print("\n")

enter a color: pink
enter a noun: mouse
enter a name: kor
Roses are pink
mouse are blue
I love kor

##List

In [ ]:
friends = ["Er", "Ma", "Je","ka"]#are used for list

print(friends)
print(friends[2])
print(friends[-1]) #-1 means it stars counting from roght to the left
print(friends[1:3])

['Er', 'Ma', 'Je', 'ka']
Je
ka
['Ma', 'Je']

In [ ]:
friends = ["Er", "Ma", "Je","ka"]#are used for list

friends[1] = "Co"
print(friends[1])

Co

##List Functions

In [ ]:
luckynos = [16, 23, 17, 12]
friends = ["Ji", "kris", "lex", "Xi"]
friends.extend(luckynos) #combine the two lists
print(friends)

['Ji', 'kris', 'lex', 'Xi', 16, 23, 17, 12]

In [ ]:
friends = ["Ji", "kris", "lex", "Xi"]
friends.append("Gri") #add a specific string to the list
print(friends)

['Ji', 'kris', 'lex', 'Xi', 'Gri']

In [ ]:
friends = ["Ji", "kris", "lex", "Xi"]
friends.insert(1,"Jo")
print(friends)

['Ji', 'Jo', 'kris', 'lex', 'Xi']

In [ ]:
friends = ["Ji", "kris", "lex", "Xi"]
friends.remove("Xi")
print(friends)

['Ji', 'kris', 'lex']

In [ ]:
friends = ["Ji", "kris", "lex", "Xi"]
friends.clear()
print(friends)

[]

In [ ]:
friends = ["Ji", "kris", "lex", "Xi"]
friends.pop() #removes the last element on the list
print(friends)

['Ji', 'kris', 'lex']

In [ ]:
friends = ["Ji", "kris", "lex", "Xi"]
print(friends.index("Xi"))

3

In [ ]:
friends = ["Ji", "kris", "lex","lex","lex", "Xi"]
print(friends.count("lex"))

3

In [ ]:
friends = ["Ji", "kris", "lex","lex","lex", "Xi"]
friends.sort()
print(friends)

['Ji', 'Xi', 'kris', 'lex', 'lex', 'lex']

In [ ]:
luckynos = [16, 23, 17, 12]
luckynos.sort()
print(luckynos)

[12, 16, 17, 23]

In [ ]:
luckynos = [16, 23, 17, 12]
luckynos.reverse()
print(luckynos)

[12, 17, 23, 16]

In [ ]:
luckynos = [16, 23, 17, 12]
friends = ["Ji", "kris", "lex", "Xi"]
friends2 = friends.copy()
print(friends2)

['Ji', 'kris', 'lex', 'Xi']